body
{
    background-color: #F5F5F5;
}


.logo
{
    width: 70px;
    border-radius: 20px;
    position: absolute;
    left: 7%;
    top: 5%;
    z-index: 10;
}

.matricula
{
position: absolute;
width: 142px;
height: 35px;
left: 1200px;
top: 54px;

background: rgba(239, 200, 48, 0.92);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
border-radius: 6px;
text-align: center;
line-height: 32px;
font-family: 'Inter', sans-serif ;
font-weight: bold;
color: #103A95;
z-index: 10;
}

.area
{
    position: absolute;
width: 142px;
height: 35px;
left: 1360px;
top: 54px;

background: rgba(239, 200, 48, 0.92);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
border-radius: 6px;
text-align: center;
line-height: 32px;
font-family: 'Inter', sans-serif ;
font-weight: bold;
color: #103A95;
z-index: 10;
}

.caixaazul
{
    position: absolute;
width: 1600px;
height: 405px;
left: 0px;
top: 0px;
z-index: 5 ;
background: #082B79;
}

.azulclaro
{
    position: absolute;
width: 1600px;
height: 404px;
left: 0px;
top: 32px;
z-index: 4;

background: rgba(16, 58, 149, 0.74);
}

.azul
{
    position: absolute;
width: 1600px;
height: 442px;
left: 0px;
top: 22px;

background: #7893CE;
}

.texto
{
    z-index: 20;
    color: rgb(239,200,48);
    position: absolute;
    top: 18%;
    left: 470px;
    font-size: 90px;
    text-align: center;
    font-family: 'Peace Sans', sans-serif;;
}

#estudo
{
    z-index: 20;
    position: absolute;
    top: 35%;
    left: 520px;
    color: rgb(255, 255, 255);
    font-family: 'Sifonn', sans-serif;
    font-size: 40px;
    text-shadow: 0.07em 0.03em 0.03em rgb(214, 214, 214);
}
.textura1{
    z-index: 8;
    position: absolute;
    width: 768px;
    height: 405px;
    left: 0px;
    top: 0px;
}
.textura2{
    z-index: 8;
    position: absolute;
    position: absolute;
    width: 15px;
    height: 405px;
    left: 764px;
    top: 0px;
}

.container
{
    z-index: 40;
    display: flex;
    position: absolute;
    top: 75%;
    left: 300px;
}